In [1]:
import pandas as pd

In [2]:
import numpy as np

In [42]:
from scipy import stats

In [14]:
df = pd.read_csv("Q7.csv")

In [10]:
df.head()

          Unnamed: 0  Points  Score  Weigh
0          Mazda RX4    3.90  2.620  16.46
1      Mazda RX4 Wag    3.90  2.875  17.02
2         Datsun 710    3.85  2.320  18.61
3     Hornet 4 Drive    3.08  3.215  19.44
4  Hornet Sportabout    3.15  3.440  17.02

# Ques 7

Mean

In [15]:
df['Points'].mean()

3.5965625000000006

In [23]:
df['Score'].mean()

3.2172499999999995

In [24]:
df['Weigh'].mean()

17.848750000000003

Median

In [26]:
df['Points'].median()

3.6950000000000003

In [27]:
df['Score'].median()

3.325

In [28]:
df['Weigh'].median()

17.71

Mode

In [29]:
df['Points'].mode()

0    3.07
1    3.92
Name: Points, dtype: float64

In [30]:
df['Score'].mode()

0    3.44
Name: Score, dtype: float64

In [31]:
df['Weigh'].mode()

0    17.02
1    18.90
Name: Weigh, dtype: float64

Variance

In [32]:
df['Points'].var()

0.28588135080645166

In [33]:
df['Score'].var()

0.9573789677419356

In [34]:
df['Weigh'].var()

3.193166129032258

Standard Deviation

In [36]:
df['Points'].std()

0.5346787360709716

In [37]:
df['Score'].std()

0.9784574429896967

In [38]:
df['Weigh'].std()

1.7869432360968431

Range

In [45]:
range = df.Points.max() - df.Points.min()
print(range)

2.17

In [46]:
range = df.Score.max() - df.Score.min()
print(range)

3.9110000000000005

In [47]:
range = df.Weigh.max() - df.Weigh.min()
print(range)

8.399999999999999

# Ques 9

In [4]:
df = pd.read_csv("Q9_a.csv")

In [5]:
df.head()

   Index  speed  dist
0      1      4     2
1      2      4    10
2      3      7     4
3      4      7    22
4      5      8    16

In [8]:
df.tail()

    Index  speed  dist
45     46     24    70
46     47     24    92
47     48     24    93
48     49     24   120
49     50     25    85

In [9]:
df.columns

Index(['Index', 'speed', 'dist'], dtype='object')

Skewness

In [13]:
df.skew()

Index    0.000000
speed   -0.117510
dist     0.806895
dtype: float64

Kurtosis

In [12]:
df.kurt()

Index   -1.200000
speed   -0.508994
dist     0.405053
dtype: float64

In [16]:
df = pd.read_csv("Q9_b.csv")

In [17]:
df.head()

   Unnamed: 0          SP         WT
0           1  104.185353  28.762059
1           2  105.461264  30.466833
2           3  105.461264  30.193597
3           4  113.461264  30.632114
4           5  104.461264  29.889149

In [18]:
df.skew()

Unnamed: 0    0.000000
SP            1.611450
WT           -0.614753
dtype: float64

In [19]:
df.kurt()

Unnamed: 0   -1.200000
SP            2.977329
WT            0.950291
dtype: float64

T score for 94% Confidence Inteval = -1.974

In [4]:
df = pd.read_csv("Cars.csv")

In [23]:
df.describe()

               HP        MPG         VOL          SP         WT
count   81.000000  81.000000   81.000000   81.000000  81.000000
mean   117.469136  34.422076   98.765432  121.540272  32.412577
std     57.113502   9.131445   22.301497   14.181432   7.492813
min     49.000000  12.101263   50.000000   99.564907  15.712859
25%     84.000000  27.856252   89.000000  113.829145  29.591768
50%    100.000000  35.152727  101.000000  118.208698  32.734518
75%    140.000000  39.531633  113.000000  126.404312  37.392524
max    322.000000  53.700681  160.000000  169.598513  52.997752

In [13]:
gt_38 = np.round(1 - stats.norm.cdf(38, loc= df.MPG.mean(), scale= df.MPG.std()),3)
print('P(MPG>38)=',gt_38)

P(MPG>38)= 0.348

In [14]:
lt_40 = np.round(stats.norm.cdf(40, loc = df.MPG.mean(), scale = df.MPG.std()),3)
print('P(MPG<40)=',lt_40)

P(MPG<40)= 0.729

In [15]:
gt_20 = np.round(1-stats.norm.cdf(20, loc = df.MPG.mean(), scale = df.MPG.std()),3)
print('p(MPG>20)=',(gt_20))

p(MPG>20)= 0.943

In [16]:
lt_50 = np.round(stats.norm.cdf(50, loc = df.MPG.mean(), scale = df.MPG.std()),3)
print('P(MPG<50)=',(lt_50))

P(MPG<50)= 0.956

In [21]:
gt20_lt50= (lt_50) - (gt_20)
print('P(20<MPG<50)=',(gt20_lt50))

P(20<MPG<50)= 0.013000000000000012

#  Question 22

In [25]:
print('Z score for 90% Conifidence Interval =',np.round(stats.norm.ppf(.05),4))

Z score for 90% Conifidence Intervla = -1.6449

In [27]:
print('Z score for 94% Conifidence Interval =',np.round(stats.norm.ppf(.03),4))

Z score for 94% Conifidence Interval = -1.8808

In [28]:
print('Z score for 60% Conifidence Interval =',np.round(stats.norm.ppf(.2),4))

Z score for 60% Conifidence Interval = -0.8416

# Question 23

In [29]:
print('T score for 95% Confidence Interval =',np.round(stats.t.ppf(0.025,df=24),4))

T score for 95% Confidence Interval = -2.0639

In [33]:
print('T score for 96% Confidence Interval =',np.round(stats.t.ppf(0.03,df=24),4))

T score for 96% Confidence Interval = -1.974

In [34]:
print('T score for 99% Confidence Inteval =',np.round(stats.t.ppf(0.005,df=24),4))

T score for 99% Confidence Inteval = -2.7969

# Question 24

In [38]:
x_bar = 260
pop_mean = 270

In [39]:
t_value = (260-270)/(90/np.sqrt(18))

In [40]:
t_value

-0.4714045207910317

In [43]:
1-stats.t.cdf(abs(t_value),df = 17)

0.32167253567098353